@import "tailwindcss";

@theme {
    --color-coolblue: #1d5bde;
    --color-metaldark: #0e151a;
    --color-sweetred: #f81d22;
    --color-orangejuice: #f8751d;
    --color-neoncyan: #3abff8;
    --color-vibrantviolet: #7a1dde;
    --color-snowwhite: #f0f2f5;
}
@layer components {
    body {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        @apply bg-snowwhite dark:bg-metaldark text-metaldark dark:text-snowwhite;
    }

    .bgGrid {
        @apply bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px];
    }

    .hero {
        @apply bg-coolblue dark:bg-metaldark h-dvh flex flex-col md:flex-row gap-y-18 md:gap-y-0 items-center justify-center md:justify-between md:px-24;
    }
    .box {
        @apply bg-metaldark dark:drop-shadow-2xl text-snowwhite text-center md:text-left p-6;
    }

    .contactButton {
        @apply bg-metaldark dark:bg-coolblue text-snowwhite text-center gap-x-1 p-5 text-2xl md:text-4xl hover:scale-110  transition-all  font-semibold;
    }
}
