@import "tailwindcss";

@theme {
    --color-coolblue: #1d5bde;
    --color-metaldark: #0e151a;
    --color-sweetred: #f81d22;
    --color-orangejuice: #f8751d;
    --color-neoncyan: #3abff8;
    --color-vibrantviolet: #7a1dde;
    --color-snowwhite: #f0f2f5;
}
@layer components {
    body {
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        @apply bg-snowwhite dark:bg-metaldark text-metaldark dark:text-snowwhite;
    }

    .hero {
        @apply h-dvh flex flex-col md:flex-row gap-y-18 md:gap-y-0 items-center justify-center md:justify-evenly md:px-24;
    }

    .contactButton {
        @apply bg-metaldark dark:bg-coolblue text-snowwhite text-center p-5 text-xl md:text-2xl hover:scale-110 transition-all font-semibold rounded-md;
    }
}
