<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body> </body>
</html>

<section class="bg-coolblue text-snowwhite min-h-screen p-12">
  <h2
    class="text-[48px] md:text-[8rem] font-bold mb-4 leading-none text-center"
  >
    GALLERY
  </h2>
  <p class="text-sm text-center">Just some random pics for now...</p>
  <div class="columns-1 sm:columns-2 md:columns-3 gap-4 space-y-4 p-4">
    <img
      src="https://picsum.photos/seed/choco/400"
      alt="Image 1"
      class="w-full mb-4 rounded-lg shadow-xl break-inside-avoid"
    />
    <img
      src="https://picsum.photos/seed/late/400"
      alt="Image 2"
      class="w-full mb-4 rounded-lg shadow-xl break-inside-avoid"
    />
    <img
      src="https://picsum.photos/seed/cup/400"
      alt="Image 3"
      class="w-full mb-4 rounded-lg shadow-xl break-inside-avoid"
    />
    <img
      src="https://picsum.photos/seed/mouse/600/400"
      alt="Image 4"
      class="w-full mb-4 rounded-lg shadow-xl break-inside-avoid"
    />
    <img
      src="https://picsum.photos/seed/keyboard/400/800"
      alt="Image 5"
      class="w-full mb-4 rounded-lg shadow-xl break-inside-avoid"
    />
    <img
      src="https://picsum.photos/seed/phone/500/500"
      alt="Image 6"
      class="w-full mb-4 rounded-lg shadow-xl break-inside-avoid"
    />
  </div>
</section>
