---
// Import necessary components/layouts if needed
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import WebsiteDrawingWIP from "../assets/WebsiteDrawing_001.webp";
import Logo from "../assets/Logo.astro";
---

<Layout>
    <!-- Hero -->
    <section id="Hero" class="relative hero">
        <!-- Background Image -->
        <!-- This Covers the entire hero section to the background -->
        <!-- The rest of the elements will be put with "relative"  -->
        <Image
            src={WebsiteDrawingWIP}
            alt="Background"
            width={1920}
            format="webp"
            class="absolute inset-0 w-full h-full object-cover opacity-100 pointer-events-none select-none"
            draggable="false"
        />

        <div class="relative">
            <!-- Logo -->
            <Logo width="155" />
        </div>
        <!-- Greet dialog with some social media links -->
        <div class="relative box">
            <h1 class="text-4xl md:text-6xl font-bold uppercase">SimplyEr1c</h1>
            <p class="md:text-3xl font-medium">
                A bit of everything's Illustrator.
            </p>
            <ul class="flex flex-row mt-3 gap-x-5 text-4xl justify-start">
                <li>
                    <a
                        href="https://bsky.app/profile/simplyer1c.art"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <i class="ti ti-brand-bluesky"></i>
                    </a>
                </li>
                <li>
                    <a
                        href="https://mas.to/@SimplyEr1c"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <i class="ti ti-brand-mastodon"></i>
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.twitch.tv/simplyer1c"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <i class="ti ti-brand-twitch"></i>
                    </a>
                </li>
                <li>
                    <a
                        href="https://kick.com/simplyer1c"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <i class="ti ti-brand-kick"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- Art Gallery and brief description  -->
    <section
        id="art"
        class="min-h-dvh p-5 flex flex-col items-center justify-center"
    >
        <h1 class="text-7xl font-bold p-2 m-5 w-fit bg-coolblue">
            Another text.
        </h1>
        <p class="md:w-8/12 mb-5">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit,
            praesentium culpa officia eligendi optio vel corrupti nostrum quidem
            totam eaque suscipit, aliquam neque. Dignissimos minus fugit
            voluptatum, hic eaque veritatis.
        </p>

        <!-- TODO: Find a way to make a Masonry Gallery with just Tailwind classes -->
        <div class="grid md:grid-cols-3 mx-15 gap-5">
            <p class="bg-coolblue w-60 h-60"></p>
            <p class="bg-coolblue w-60 h-60"></p>
            <p class="bg-coolblue w-60 h-60"></p>
            <p class="bg-coolblue w-60 h-60"></p>
            <p class="bg-coolblue w-60 h-60"></p>
            <p class="bg-coolblue w-60 h-60"></p>
        </div>
    </section>

    <!-- Links  -->
    <section
        id="links"
        class="min-h-dvh bg-coolblue p-8 flex flex-col items-center"
    >
        <p class="text-center text-snowwhite font-bold text-7xl mb-8">
            Contact
        </p>

        <!-- Is just a simple grid. -->
        <!-- The 1.0 Branch is a Grid with various flex-col organized in categories like
        Social Media, Contact, Art, And Web3.
        This time I want a more simpler approach. -->
        <div class="grid md:grid-cols-3 w-4xl gap-6 m-3">
            <a
                href="https://bsky.app/profile/simplyer1c.art"
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                <i class="ti ti-brand-bluesky"></i>
                Bluesky
            </a>
            <a
                href="https://mas.to/@SimplyEr1c"
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                <i class="ti ti-brand-mastodon"></i>
                Mastodon
            </a>
            <a
                href="https://lemmy.world/u/SimplyEr1c"
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                <i class="ti ti-brand-bluesky"></i>
                Lemmy
            </a><a
                href=""
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                <i class="ti ti-brand-bluesky"></i>
                Twitch
            </a><a
                href=""
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                <i class="ti ti-brand-bluesky"></i>
                Kick
            </a>
        </div>

        <div class="grid md:grid-cols-3 w-4xl gap-3 bg-red-400 m-3">
            <a href="" target="_blank" rel="noopener noreferrer">
                <i class="ti ti-brand-bluesky"></i>
                Cara.app
            </a>
            <a href="" target="_blank" rel="noopener noreferrer">
                <i class="ti ti-brand-bluesky"></i>
                Pixiv
            </a>
            <a href="" target="_blank" rel="noopener noreferrer">
                <i class="ti ti-brand-bluesky"></i>
                Vgen
            </a>
        </div>

        <div class="grid md:grid-cols-3 w-4xl gap-3 bg-red-400 m-3">
            <a href="" target="_blank" rel="noopener noreferrer">
                <i class="ti ti-brand-bluesky"></i>
                Mallow
            </a>
            <a href="" target="_blank" rel="noopener noreferrer">
                <i class="ti ti-brand-bluesky"></i>
                Objkt
            </a>
            <a href="" target="_blank" rel="noopener noreferrer">
                <i class="ti ti-brand-bluesky"></i>
                Foundation
            </a>
        </div>
    </section>
</Layout>
