---
import Layout from "../layouts/Layout.astro";
import BrushIcon from "../components/icons/BrushIcon.astro";
import UserIcon from "../components/icons/UserIcon.astro";
import MessageIcon from "../components/icons/MessageIcon.astro";
import ExtIcon from "../components/icons/ExtIcon.astro";
import { Image } from "astro:assets";
import WebsiteDrawingWIP from "../assets/WebsiteDrawingWIP.webp";
---

<Layout>
  <main>
    <!-- Hero Section -->
    <section class="relative hero">
      <!-- Background image layer -->
      <Image
        src={WebsiteDrawingWIP}
        alt="Background"
        width={1920}
        format="webp"
        class="absolute inset-0 w-full h-full object-cover opacity-40 pointer-events-none select-none"
        draggable="false"
      />

      <!-- Dialog -->
      <div class="relative z-10">
        <div class="dialog mx-8 md:mx-0">
          <h2 class="text-2xl md:text-6xl text-center">¡Hola! Soy</h2>
          <h1
            class="text-[38px] md:text-[6rem] font-bold leading-none text-center"
          >
            SIMPLYER1C
          </h1>
          <h4 class="text-lg md:text-2xl font-semibold text-center">
            Ilustrador Digital
          </h4>

          <!-- Main link buttons  -->
          <div class="flex flex-wrap gap-3 my-3 justify-center mx-auto">
            <a
              href="https://cara.app/simplyer1c/portfolio"
              class="linkbtn"
              target="_blank"
              rel="noopener"
            >
              <BrushIcon />
              <p>Artwork</p>
              <ExtIcon />
            </a>
            <a href="/about" class="linkbtn">
              <UserIcon />
              <p>Sobre mí</p>
            </a>
            <a href="/links" class="linkbtn">
              <MessageIcon />
              <p>Links</p>
            </a>
          </div>

          <!-- social buttons -->
          <div
            class="flex flex-row flex-wrap items-center justify-center gap-x-4 gap-y-2 mx-auto"
          >
            <a
              href="https://bsky.app/profile/simplyer1c.art"
              class="socialbtn"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Bluesky"
            >
              <i class="ti ti-brand-bluesky text-4xl"></i>
            </a>
            <a
              href="https://mas.to/@SimplyEr1c"
              class="socialbtn"
              target="_blank"
              rel="me noopener noreferrer"
              aria-label="Mastodon"
            >
              <i class="ti ti-brand-mastodon text-4xl"></i>
            </a>
            <a
              href="https://instagram.com/simplyer1c"
              class="socialbtn"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram"
            >
              <i class="ti ti-brand-instagram text-4xl"></i>
            </a>
            <a
              href="https://simplyer1c.tumblr.com"
              class="socialbtn"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Tumblr"
            >
              <i class="ti ti-brand-tumblr text-4xl"></i>
            </a>
            <a
              href="https://www.twitch.tv/simplyer1c"
              class="socialbtn"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Twitch"
            >
              <i class="ti ti-brand-twitch text-4xl"></i>
            </a>
            <a
              href="https://kick.com/simplyer1c"
              aria-label="Kick"
              class="socialbtn"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="ti ti-brand-kick text-4xl"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
