---
// Import necessary components/layouts if needed

import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="SimplyEr1c's portfolio page" />
        <title>SimplyEr1c</title>
        <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
    </head>

    <body
        class="text-[var(--color-text-dark)] font-sans bg-[var(--color-background-light)]"
    >
        <main class="flex items-center justify-center h-screen">
            <!-- Hero Section -->
            <section
                class="w-full max-w-6xl mx-auto p-8 flex flex-col items-center bg-blue-300"
            >
                <!-- Hero content container -->
                <div class="flex flex-col items-start text-left mb-12">
                    <!-- Profile Picture -->
                    <div>
                        <div
                            class="w-40 h-40 md:w-48 md:h-48 rounded-full overflow-hidden
                        flex-shrink-0 shadow-lg mb-8"
                        >
                            <div
                                class="w-full h-full flex items-center justify-center"
                            >
                                <img
                                    src="/public/icons/Blue.png"
                                    alt="Profile picture"
                                    width="100%"
                                    height="100%"
                                    loading="eager"
                                    class="object-cover"
                                />
                            </div>
                        </div>

                        <!-- Hero text content -->
                        <p class="text-xl font-normal">Hello! I'm</p>
                        <h1 class="text-5xl font-bold mb-4">John Doe</h1>
                        <p class="text-2xl mb-3 font-medium">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                        </p>
                    </div>

                    <p class="text-sm mb-6">Male • September 12, 2001</p>

                    <!-- Call to action buttons -->
                    <div class="flex gap-4 mt-4 mb-10">
                        <a href="/portfolio" class="btnn"> View My Work </a>
                        <a href="#contact"> Contact Me </a>
                    </div>

                    <!-- Social media icons -->
                    <div class="flex gap-4 justify-center">
                        <!-- Discord Button -->
                        <a href="#">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="currentColor"
                                class="icon icon-tabler icons-tabler-filled icon-tabler-brand-discord"
                                ><path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"></path><path
                                    d="M14.983 3l.123 .006c2.014 .214 3.527 .672 4.966 1.673a1 1 0 0 1 .371 .488c1.876 5.315 2.373 9.987 1.451 12.28c-1.003 2.005 -2.606 3.553 -4.394 3.553c-.732 0 -1.693 -.968 -2.328 -2.045a21.512 21.512 0 0 0 2.103 -.493a1 1 0 1 0 -.55 -1.924c-3.32 .95 -6.13 .95 -9.45 0a1 1 0 0 0 -.55 1.924c.717 .204 1.416 .37 2.103 .494c-.635 1.075 -1.596 2.044 -2.328 2.044c-1.788 0 -3.391 -1.548 -4.428 -3.629c-.888 -2.217 -.39 -6.89 1.485 -12.204a1 1 0 0 1 .371 -.488c1.439 -1.001 2.952 -1.459 4.966 -1.673a1 1 0 0 1 .935 .435l.063 .107l.651 1.285l.137 -.016a12.97 12.97 0 0 1 2.643 0l.134 .016l.65 -1.284a1 1 0 0 1 .754 -.54l.122 -.009zm-5.983 7a2 2 0 0 0 -1.977 1.697l-.018 .154l-.005 .149l.005 .15a2 2 0 1 0 1.995 -2.15zm6 0a2 2 0 0 0 -1.977 1.697l-.018 .154l-.005 .149l.005 .15a2 2 0 1 0 1.995 -2.15z"
                                ></path></svg
                            >
                        </a>

                        <!-- X (Twitter) Button -->
                        <a
                            href="https://x.com/SimplyEr1c"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"
                                ><path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"></path><path
                                    d="M4 4l11.733 16h4.267l-11.733 -16z"
                                ></path><path
                                    d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"
                                ></path></svg
                            >
                        </a>

                        <!-- Bluesky Button -->
                        <a
                            href="https://bsky.app/profile/simplyer1c.art"
                            target="_blank"
                            rel="noopener norefererr"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-bluesky"
                                ><path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"></path><path
                                    d="M6.335 5.144c-1.654 -1.199 -4.335 -2.127 -4.335 .826c0 .59 .35 4.953 .556 5.661c.713 2.463 3.13 2.75 5.444 2.369c-4.045 .665 -4.889 3.208 -2.667 5.41c1.03 1.018 1.913 1.59 2.667 1.59c2 0 3.134 -2.769 3.5 -3.5c.333 -.667 .5 -1.167 .5 -1.5c0 .333 .167 .833 .5 1.5c.366 .731 1.5 3.5 3.5 3.5c.754 0 1.637 -.571 2.667 -1.59c2.222 -2.203 1.378 -4.746 -2.667 -5.41c2.314 .38 4.73 .094 5.444 -2.369c.206 -.708 .556 -5.072 .556 -5.661c0 -2.953 -2.68 -2.025 -4.335 -.826c-2.293 1.662 -4.76 5.048 -5.665 6.856c-.905 -1.808 -3.372 -5.194 -5.665 -6.856z"
                                ></path></svg
                            >
                        </a>

                        <!-- Instagram Button -->
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="currentColor"
                                class="icon icon-tabler icons-tabler-filled icon-tabler-brand-instagram"
                                ><path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"></path><path
                                    d="M16 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-8a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-4 5a4 4 0 0 0 -3.995 3.8l-.005 .2a4 4 0 1 0 4 -4m4.5 -1.5a1 1 0 0 0 -.993 .883l-.007 .127a1 1 0 0 0 1.993 .117l.007 -.127a1 1 0 0 0 -1 -1"
                                ></path></svg
                            >
                        </a>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
