---
// Import necessary components/layouts if needed
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import WebsiteDrawingWIP from "../assets/WebsiteDrawing_001.webp";
import Logo from "../assets/Logo.astro";
// Icons (Not included in tabler)
import Pixiv from "../assets/icons/Pixiv.astro";
import Mallow from "../assets/icons/Mallow.astro";
import Vgen from "../assets/icons/Vgen.astro";
import Cara from "../assets/icons/Cara.astro";
---

<Layout>
    <!-- Hero -->
    <section id="Hero" class="relative hero">
        <!-- Background Image -->
        <!-- This Covers the entire  hero section to the background -->
        <!-- The rest of the elements will be put with "relative"  -->
        <Image
            src={WebsiteDrawingWIP}
            alt="Background"
            width={1920}
            format="webp"
            class="absolute inset-0 w-full h-full object-cover opacity-100 pointer-events-none select-none"
            draggable="false"
        />

        <div class="relative">
            <!-- Logo -->
            <Logo width="155" />
        </div>
        <!-- Greet dialog with some social media links -->
        <div class="relative box">
            <h1 class="text-4xl md:text-6xl font-bold uppercase">SimplyEr1c</h1>
            <p class="md:text-3xl font-medium">
                A bit of everything's Illustrator.
            </p>
            <ul class="flex flex-row mt-3 gap-x-5 text-4xl justify-start">
                <li>
                    <a
                        href="https://bsky.app/profile/simplyer1c.art"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <i class="ti ti-brand-bluesky"></i>
                    </a>
                </li>
                <li>
                    <a
                        href="https://mas.to/@SimplyEr1c"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <i class="ti ti-brand-mastodon"></i>
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.twitch.tv/simplyer1c"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <i class="ti ti-brand-twitch"></i>
                    </a>
                </li>
                <li>
                    <a
                        href="https://kick.com/simplyer1c"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <i class="ti ti-brand-kick"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- Art Gallery and brief description  -->
    <section
        id="art"
        class="min-h-dvh p-5 flex flex-col items-center justify-center"
    >
        <h1 class="text-7xl font-bold p-2 m-5 w-fit bg-coolblue">
            Another text.
        </h1>
        <p class="md:w-8/12 mb-5">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit,
            praesentium culpa officia eligendi optio vel corrupti nostrum quidem
            totam eaque suscipit, aliquam neque. Dignissimos minus fugit
            voluptatum, hic eaque veritatis.
        </p>

        <div class="grid md:grid-cols-3 mx-15 gap-5">
            <div class="break-inside-avoid mb-6">
                <Image
                    src="https://cdn.cara.app/production/posts/fa03dd4b-0e9e-4b4e-93cf-8e4340dc36cd/simplyer1c-SOSL-_oNhHbd35LUkBwjy-DonutFinal.png"
                    alt="Image"
                    height="400"
                    width="300"
                    class="rounded-lg shadow-lg w-full h-auto"
                />
            </div>
            <div class="break-inside-avoid mb-6">
                <Image
                    src="https://cdn.cara.app/production/posts/1fe13c44-dc4f-47dd-9176-b42d4117215e/simplyer1c-5BVOamOlQYBklKpSU25oN-S4S.png"
                    alt="Image"
                    height="300"
                    width="300"
                    class="rounded-lg shadow-lg w-full h-auto"
                />
            </div>
            <div class="break-inside-avoid mb-6">
                <Image
                    src="https://cdn.cara.app/production/posts/e53d41bc-f77e-4e78-8e92-915e8cf90f47/simplyer1c-JZy4tZpXEzE1lJMym5TF0-Jack.png"
                    alt="Image"
                    height="300"
                    width="300"
                    class="rounded-lg shadow-lg w-full h-auto"
                />
            </div>
        </div>
    </section>

    <!-- Links  -->
    <section
        id="links"
        class="min-h-dvh bg-coolblue p-8 flex flex-col items-center"
    >
        <p class="text-center text-snowwhite font-bold text-7xl mb-8">
            Contact
        </p>
        <div
            class="flex flex-wrap w-1xl md:w-4xl gap-6 m-3 items-center justify-center"
        >
            <a href="mailto:SimplyEr1c@protonmail.com" class="contactButton">
                <i class="ti ti-mail"></i>
                Email
            </a>
            <a
                href="https://bsky.app/profile/simplyer1c.art"
                aria-label="Bluesky"
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                <i class="ti ti-brand-bluesky"></i>
                Bluesky
            </a>
            <a
                href="https://mas.to/@SimplyEr1c"
                aria-label="Mastodon"
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                <i class="ti ti-brand-mastodon"></i>
                Mastodon
            </a>
            <a
                href="https://lemmy.world/u/SimplyEr1c"
                aria-label="Lemmy"
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                <i class="ti ti-world"></i>
                Lemmy
            </a><a
                href="https://www.twitch.tv/simplyer1c"
                aria-label="Twitch"
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                <i class="ti ti-brand-twitch"></i>
                Twitch
            </a><a
                href="https://kick.com/SimplyEr1c"
                aria-label="Kick"
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                <i class="ti ti-brand-kick"></i>
                Kick
            </a>
            <!-- Art -->
            <a
                href=""
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                <Cara />
                Cara.app
            </a>
            <a
                href=""
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                <Pixiv />
                Pixiv
            </a>
            <a
                href="https://vgen.co/SimplyEr1c/characters"
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                <Vgen />
                Vgen
            </a>

            <!-- Web3 -->
            <a
                href=""
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                <Mallow />
                Mallow
            </a>
            <a
                href=""
                target="_blank"
                rel="noopener noreferrer"
                class="contactButton"
            >
                Objkt
            </a>
        </div>
    </section>
    <footer class="m-auto w-fit h-fit py-8 justify-center">
        <p>
            Made with <i class="ti ti-brand-tailwind"></i> Tailwind, <i
                class="ti ti-brand-astro"></i> Astro and <i class="ti ti-coffee"
            ></i>
            <i class="ti ti-heart"></i>
            <i class="ti ti-headphones"></i>
            <i class="ti ti-music"></i>
            by
            <a
                href="https://github.com/Simply-Er1c"
                aria-label="GitHub"
                rel="noopener noreferrer"
                target="_blank"
                class="font-medium"
            >
                SimplyEr1c <i class="ti ti-brand-github"></i>
            </a>
        </p>
    </footer>
</Layout>
