---
import "../styles/global.css";
import ExtIcon from "./icons/ExtIcon.astro";
import SimplyEr1cLogo from "./icons/SimplyEr1cLogo.astro";
---

<nav
  class="z-10 w-full flex items-center justify-between px-4 md:px-23 py-5 bg-transparent text-snowwhite"
>
  <!-- Left: Brand and mobile menu button -->
  <!-- Mobile menu button (static, no JS) -->
  <a href="/" class="text-snowhite" aria-label="Inicio">
    <SimplyEr1cLogo />
    <ul class="flex items-center gap-3 text-lg font-medium">
      <li>
        <a
          href="/about"
          class="focus:outline-none focus:ring-2 focus:ring-coolblue dark:focus:ring-neoncyan rounded hover:bg-coolblue dark:hover:bg-neoncyan transition-colors dark:hover:text-justdark p-2"
        >
          Sobre Mí
        </a>
      </li>
      <li>
        <a
          href="/links"
          class="focus:outline-none focus:ring-2 focus:ring-coolblue dark:focus:ring-neoncyan rounded hover:bg-coolblue dark:hover:bg-neoncyan transition-colors dark:hover:text-justdark p-2"
          >Links</a
        >
      </li>
      <li>
        <a
          href="https://cara.app/simplyer1c/portfolio"
          target="_blank"
          rel="noopener"
          class="inline-flex gap-x-2 bg-snowwhite text-coolblue dark:bg-neoncyan dark:text-justdark font-bold p-2 rounded-xl focus:outline-none focus:ring-2 focus:ring-coolblue dark:focus:ring-neoncyan hover:scale-115 transition-all"
          >Artwork <ExtIcon /></a
        >
      </li>
    </ul>
  </a>
</nav>
